//버튼 컬러
$btnPrimary: #6a9c89;
$btnPrimaryHover: #507d6e;
$btnPrimaryFocus: #3c5e52;

$btnSecondary: #385752;
$btnSecondaryHover: #2a4642;
$btnSecondaryFocus: #203431;

$btnDanger: #91524b;
$btnDangerHover: #74423c;
$btnDangerFocus: #74423c;

//GNB 활성화 컬러
$activeColor: #ff7a00;

//배경 컬러
$bodyBackgroundColor: #f6f7f9;

//카드 배경 컬러
$cardBackgroundColor: #fff;
